.request_block {
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.request_block label {
  display: inline;
  font-weight: normal;
}
.request_block .request_params label {
  margin-left: 20px;
}
.request_block .request_params label span {
  margin-right: 10px;
}
.request_block .request_params label.colorpickerWrapper .input-group {
  display: inline-block;
  width: 45px !important;
}
.request_block .request_params label.colorpickerWrapper .input-group span {
  display: inline-block;
  width: 42px !important;
}
.request_block .request_params label.colorpickerWrapper .input-group input.request_parameter {
  display: none;
}
.request_block .request_params .request_parameter {
  width: 150px !important;
}
.request_block .request_params .request_parameter .error {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px red !important;
  border-color: red !important;
}
.request_block select {
  position: relative;
  top: -1px;
}
.delete_request_position {
  display: block;
  float: right;
  background-color: transparent;
  border: medium none;
}
.delete_request_position img {
  width: 20px;
}
