
.request_block {
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  margin-bottom: 10px;

  label {
    display: inline;
    font-weight: normal;
  }

  .request_params {
    label {
      margin-left: 20px;

      span {
        margin-right: 10px;
      }

      &.colorpickerWrapper{
        .input-group{
          display: inline-block;
          width: 45px !important;

          span{
            display: inline-block;
            width: 42px !important;
          }

          input.request_parameter{
            display:none;
          }
        }
      }
    }
    .request_parameter {
      width: 150px !important;

      .error {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px red !important;
        border-color: red !important;
      }
    }
  }

  select {
    position: relative;
    top: -1px;
  }
}

.delete_request_position {
  display: block;
  float: right;
  background-color: transparent;
  border: medium none;

  img {
    width: 20px;
  }
}