body {
  background-color: DarkRed;
  background-image: url('../images/design/bg2.jpg');
}

#page {
  width: 1200px;
  background-image: url('../images/design/bg1.jpg');
  border: 1px solid black;
  margin: 30px auto;
}

#inner_content {
  position: relative;
  min-height: 700px;
  padding: 10px;
}

#footer {
  text-align: center;
  padding: 0 20px;
}
#cabinet_link{
  float:right;
  color: #802420;
}

h1, h2 {
  text-align: center;
}
code {
  display:block;
}

.modal_close {
  background-image: url('../images/design/close.png');
  background-size: 25px 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.clearfix {
  clear: both;
}

svg path {
  cursor: pointer;
}

svg text {
  font-family: 'Marck Script', cursive;
  font-size: 22px;
  cursor: pointer;
}

/** Bootstrap override **/
.nav {
  margin-bottom: 0;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
  background-color: #802420 !important;
}

.nav > li > a {
  color: #802420;
}

/*GM Page*/
#gm_players_list, #gm_factions_list {
  float: left;
  padding: 0 10px 10px 10px;
  border: 2px solid grey;
  margin: 10px 0;
  min-height: 680px;
}

#gm_provinces_list {
  float: right;
  padding: 0 10px 10px 10px;
  border: 2px solid grey;
  margin: 10px 0;
  min-height: 680px;
  width: 450px;
}

#gm_map_outer {
  float: left;
  position: relative;
  margin: 10px 0;
  border: 2px solid grey;
  height: 500px;
  overflow: hidden;
  width: 620px;
}

#gm_map_outer #mapSVG {
  left: -50px;
  position: relative;
}

#gm_players_list p .btn, #gm_factions_list p .btn, #gm_provinces_list .btn {
  float: right;
}

#edit_character_gm label, #edit_faction_gm label {
  font-weight: bold;
}
#gm_turn_actions {
  text-align: center;
}


/* Player's Panel*/
#left_panel, #central_panel, #right_panel {
  height: 100%;
  margin: 5px;
  border: 2px solid grey;
}

#left_panel, #right_panel {
  width: 340px;
  min-height: 700px;
  padding: 0 5px;
}

#left_panel, #central_panel {
  float: left;
}

#central_panel {
  width: 438px;
}

#left_panel {
}

#left_panel p {
  margin: 0 0 2px;
  font-weight: bold;
}

#left_panel p span {
  font-weight: normal !important;
  float: right;
}

#right_panel {
  float: right;
}

#players_map {
  height: 350px;
  overflow: hidden;
  border-bottom: 1px solid grey;
}

#players_map_legend {
  min-height: 349px;
}

#players_map svg {
  left: -50px;
  top: -24px;
  position: relative;
}


.add_request_position {
  display: block;
  float: right;
  background-color: transparent;
  border: medium none;

  img {
    height: 40px;
  }
}


/* Player setup */
#new_character {
  width: 500px;
  margin: 0 auto;
}

/** Rules Page */
#b_rules{
  .error{
    color: red;
    font-weight: bold;
  }
}