html,
body {
  height: 100%;
}
body {
  background: #efefef url('../images/design/bgHre.jpg');
  background-size: cover;
}
body .wrap {
  min-height: 100%;
  height: auto;
  width: 1280px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  border-bottom: none;
  margin: 0 auto -65px;
  padding: 0 0 65px;
}
body .wrap > #inner_content {
  padding-top: 50px;
  min-height: 700px;
}
body #footer {
  border-top: 1px solid #bbb;
  height: 50px;
  margin: 10px auto 0;
  padding-top: 5px;
  text-align: center;
  width: 700px;
}
div [class^="col-"] {
  padding: 10px 0;
}
.u {
  text-decoration: underline;
}
.list-letters {
  list-style-type: upper-alpha;
}
.pfennig:after {
  content: "\20B0";
  font-weight: bold;
  font-size: 18px;
  line-height: 14px;
}
/*GM Page*/
#make_turn {
  width: 216px;
  display: block;
}
