.p13map {
  border-top: 1px solid black;
}
.p13map .mapRow {
  height: 15px;
  border-left: 1px solid black;
}
.p13map .mapRow .mapCell {
  float: left;
  position: relative;
  width: 15px;
  height: 15px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}
.p13map .mapRow .mapCell .mapObjectIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: no-repeat center center;
  background-size: cover;
}
.p13map .mapRow .mapCell .mapObjectIcon.river_r {
  background-image: url("../images/map_icons/river_r.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.river_d {
  background-image: url("../images/map_icons/river_d.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.river_l {
  background-image: url("../images/map_icons/river_l.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.river_u {
  background-image: url("../images/map_icons/river_u.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.river_d_u {
  background-image: url("../images/map_icons/river_d_u.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.river_r_l {
  background-image: url("../images/map_icons/river_r_l.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.river_r_d {
  background-image: url("../images/map_icons/river_r_d.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.river_d_l {
  background-image: url("../images/map_icons/river_d_l.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.river_r_u {
  background-image: url("../images/map_icons/river_r_u.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.river_l_u {
  background-image: url("../images/map_icons/river_l_u.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.river_r_d_l {
  background-image: url("../images/map_icons/river_r_d_l.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.river_d_l_u {
  background-image: url("../images/map_icons/river_d_l_u.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.river_r_l_u {
  background-image: url("../images/map_icons/river_r_l_u.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.river_r_d_u {
  background-image: url("../images/map_icons/river_r_d_u.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.river_r_d_u_l {
  background-image: url("../images/map_icons/river_r_d_u_l.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.forest_pine {
  background-image: url("../images/map_icons/forest_pine.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.coast_r {
  background-image: url("../images/map_icons/coast_r.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.coast_d {
  background-image: url("../images/map_icons/coast_d.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.coast_l {
  background-image: url("../images/map_icons/coast_l.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.coast_u {
  background-image: url("../images/map_icons/coast_u.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.coast_d_u {
  background-image: url("../images/map_icons/coast_d_u.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.coast_r_l {
  background-image: url("../images/map_icons/coast_r_l.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.coast_r_d {
  background-image: url("../images/map_icons/coast_r_d.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.coast_d_l {
  background-image: url("../images/map_icons/coast_d_l.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.coast_r_u {
  background-image: url("../images/map_icons/coast_r_u.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.coast_l_u {
  background-image: url("../images/map_icons/coast_l_u.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.coast_r_d_l {
  background-image: url("../images/map_icons/coast_r_d_l.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.coast_d_l_u {
  background-image: url("../images/map_icons/coast_d_l_u.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.coast_r_l_u {
  background-image: url("../images/map_icons/coast_r_l_u.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.coast_r_d_u {
  background-image: url("../images/map_icons/coast_r_d_u.png");
}
.p13map .mapRow .mapCell .mapObjectIcon.coast_r_d_l_u {
  background-image: url("../images/map_icons/coast_r_d_l_u.png");
}
