.p13map{
  border-top: 1px solid black;

  .mapRow{
    height: 15px;
    border-left: 1px solid black;

    .mapCell{
      float:left;
      position: relative;
      width: 15px;
      height: 15px;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      padding: 0;
      text-align: center;
      z-index: 1;
      overflow: hidden;

      .mapObjectIcon{
        position: absolute;
        top:0;
        left:0;
        width: 15px;
        height: 15px;
        background: no-repeat center center;
        background-size: cover;

        &.river_r{
          background-image: url("../images/map_icons/river_r.png");
        }
        &.river_d{
          background-image: url("../images/map_icons/river_d.png");
        }
        &.river_l{
          background-image: url("../images/map_icons/river_l.png");
        }
        &.river_u{
          background-image: url("../images/map_icons/river_u.png");
        }
        &.river_d_u{
          background-image: url("../images/map_icons/river_d_u.png");
        }
        &.river_r_l{
          background-image: url("../images/map_icons/river_r_l.png");
        }
        &.river_r_d{
          background-image: url("../images/map_icons/river_r_d.png");
        }
        &.river_d_l{
          background-image: url("../images/map_icons/river_d_l.png");
        }
        &.river_r_u{
          background-image: url("../images/map_icons/river_r_u.png");
        }
        &.river_l_u{
          background-image: url("../images/map_icons/river_l_u.png");
        }
        &.river_r_d_l{
          background-image: url("../images/map_icons/river_r_d_l.png");
        }
        &.river_d_l_u{
          background-image: url("../images/map_icons/river_d_l_u.png");
        }
        &.river_r_l_u{
          background-image: url("../images/map_icons/river_r_l_u.png");
        }
        &.river_r_d_u{
          background-image: url("../images/map_icons/river_r_d_u.png");
        }
        &.river_r_d_u_l{
          background-image: url("../images/map_icons/river_r_d_u_l.png");
        }


        &.forest_pine{
          background-image: url("../images/map_icons/forest_pine.png");
        }

        &.coast_r{
          background-image: url("../images/map_icons/coast_r.png");
        }
        &.coast_d{
          background-image: url("../images/map_icons/coast_d.png");
        }
        &.coast_l{
          background-image: url("../images/map_icons/coast_l.png");
        }
        &.coast_u{
          background-image: url("../images/map_icons/coast_u.png");
        }
        &.coast_d_u{
          background-image: url("../images/map_icons/coast_d_u.png");
        }
        &.coast_r_l{
          background-image: url("../images/map_icons/coast_r_l.png");
        }
        &.coast_r_d{
          background-image: url("../images/map_icons/coast_r_d.png");
        }
        &.coast_d_l{
          background-image: url("../images/map_icons/coast_d_l.png");
        }
        &.coast_r_u{
          background-image: url("../images/map_icons/coast_r_u.png");
        }
        &.coast_l_u{
          background-image: url("../images/map_icons/coast_l_u.png");
        }
        &.coast_r_d_l{
          background-image: url("../images/map_icons/coast_r_d_l.png");
        }
        &.coast_d_l_u{
          background-image: url("../images/map_icons/coast_d_l_u.png");
        }
        &.coast_r_l_u{
          background-image: url("../images/map_icons/coast_r_l_u.png");
        }
        &.coast_r_d_u{
          background-image: url("../images/map_icons/coast_r_d_u.png");
        }
        &.coast_r_d_l_u{
          background-image: url("../images/map_icons/coast_r_d_l_u.png");
        }
      }
    }
  }
}