#redactorMapOuter {
  height: 660px;
  overflow: auto;
  border: 1px solid #666666;
  border-right: none;
  padding: 0;
}
#redactorMapOuter #redactorMap .mapRow .mapCell:hover {
  outline: 2px solid red;
  z-index: 10;
  border-right: none;
  border-bottom: none;
}
#redactorSideMenu {
  height: 660px;
  border: 1px solid #666666;
  padding: 0;
}
#redactorSideMenu .mapBrushesList {
  padding-right: 4px;
}
#redactorSideMenu .mapBrushesList .mapBrushRow {
  width: 100%;
  height: 27px;
  line-height: 30px;
  cursor: pointer;
  margin: 1px 0;
  padding: 1px;
}
#redactorSideMenu .mapBrushesList .mapBrushRow:hover {
  background-color: #dddddd;
}
#redactorSideMenu .mapBrushesList .mapBrushRow .mapBrushIcon {
  width: 25px;
  height: 25px;
  float: left;
  border: 1px solid grey;
  margin-right: 5px;
}
#blankMapCreation {
  display: none;
}
