html,
body {
  height: 100%;
}
body {
  background: #efefef url('../images/design/bg2.png');
}
body .wrap {
  min-height: 100%;
  height: auto;
  width: 1280px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid black;
  border-bottom: none;
  margin: 0 auto -65px;
  padding: 0 0 65px;
}
body .wrap > #inner_content {
  padding-top: 50px;
  min-height: 700px;
}
body #footer {
  border-top: 1px solid #bbb;
  height: 50px;
  margin: 10px auto 0;
  padding-top: 5px;
  text-align: center;
  width: 700px;
}
div [class^="col-"] {
  padding: 10px 0;
}
/*Common Flags Canvas*/
.tribe_flag_medium {
  border: 1px solid black;
  margin: 2px 5px 2px 2px;
}
.tribe_flag_medium_pholder {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  margin: 2px 5px 2px 2px;
}
/*GM Page*/
#make_turn {
  width: 216px;
  display: block;
}
#b_gm_left {
  float: left;
  width: 250px;
  height: 690px;
}
#b_gm_players {
  margin-top: 10px;
  height: 635px;
  width: 250px;
  border: 3px solid grey;
  overflow: auto;
}
#b_gm_players h4,
#b_gm_block_map h4 {
  text-align: center;
}
.b_gm_player {
  border: 1px solid grey;
  margin: 0 1px 1px;
}
.b_gm_player p {
  font-weight: bold;
  padding-left: 10px;
  margin: 0;
}
.b_gm_tribe_info {
  position: relative;
}
.b_gm_tribe_name {
  position: absolute;
  top: 5px;
  left: 34px;
  width: 205px;
}
.but_gm_tribe_edit {
  position: absolute;
  right: 0px;
  top: -4px;
}
#b_gm_block_map {
  border: 3px solid grey;
  height: 690px;
  width: 910px;
  float: right;
}
.edit_tribe {
  display: none;
}
/** Map CSS **/
.b_map {
  margin: 35px auto 0;
  border: 3px solid grey;
  position: relative;
}
.b_map .map_row {
  height: 15px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
.b_map .map_cell {
  float: left;
  position: relative;
  width: 15px;
  height: 15px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  padding: 0;
  text-align: center;
}
.b_map .map_coord_row {
  height: 15px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
.b_map .map_y_coord,
.b_map .map_x_coord,
.b_map .map_x_coord_null {
  float: left;
  position: relative;
  border-top: 1px solid black;
  border-right: 1px solid black;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  font-size: 10px;
}
.b_map .map_x_coord_null {
  width: 15px;
  height: 15px;
}
.b_map .map_x_coord {
  width: 15px;
  height: 15px;
}
.b_map .map_y_coord {
  width: 15px;
  height: 15px;
}
.b_map .map_object_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
}
.b_map .map_object_canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.b_map .map_button {
  position: absolute;
}
