@font-face {
  font-family: 'Traktir';
  src: url('../fonts/traktir/traktir.eot');
  src: local('☺'), url('../fonts/traktir/traktir.woff') format('woff'), url('../fonts/traktir/traktir.ttf') format('truetype'), url('../fonts/traktir/traktir.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
}
body {
  /*font-family: 'PT Serif', serif;*/
  font-family: 'Philosopher', serif;
  background: #FCF0AA url('/images/bgMap1.jpg') center;
}
h1,
h2,
h3 {
  text-align: center;
  line-height: 40px;
}
h1.logo {
  font-family: 'Traktir', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 68px;
  margin: 30px 0;
}
h2 {
  font-size: 26px;
}
h2,
h3 {
  margin: 5px 0;
}
h3 {
  font-size: 16px;
}
.btn {
  margin-right: 10px;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
  background-color: rgba(100, 100, 100, 0.6);
}
.wrap > .container {
  padding: 20px 15px 20px;
}
.footer {
  background-color: rgba(100, 100, 100, 0.6);
  color: #fff;
  height: 60px;
  padding-top: 20px;
  text-align: center;
}
.footer a {
  color: #FCF0AA;
}
/*----- COMMON ELEMENTS -----*/
.block1 {
  border: 1px solid #533424;
  background-color: rgba(250, 240, 170, 0.7);
}
.block2 {
  border: 1px solid #404040;
  background-image: url('/images/bg1.jpg');
}
.b_page_wrap {
  width: 1276px;
  margin: 10px auto;
}
.active_span {
  font-size: 12px !important;
  color: #7F0000;
  cursor: pointer;
  text-decoration: underline;
}
.b_error {
  font-weight: bold;
  color: red;
  text-align: center;
}
.btn-primary {
  background-color: #533424;
  border-color: #533424;
}
.btn-primary:focus,
.btn-primary:hover {
  background-color: #6a6640;
  border-color: #6a6640;
}
a {
  color: #533424;
}
a:focus,
a:hover {
  color: #533424;
}
/*----- LOGIN & SIGN-UP PAGES -----*/
.b_start {
  width: 430px;
  margin: 20px auto;
  padding: 30px 40px 20px;
}
.b_reg_start {
  text-align: right;
}
/*----- CABINET PAGE ------*/
.cabinet_left {
  width: 410px;
  margin: 0 5px 0 0;
}
.cabinet_right {
  width: 800px;
  margin: 0 0 0 5px;
}
.cabinet_left,
.cabinet_right {
  float: left;
  min-height: 700px;
  padding: 0 10px;
}
#cabinet_logout {
  float: none !important;
  position: relative;
  top: -7px;
  left: 10px;
}
.cabinet_game_creation {
  display: none;
  width: 360px;
  padding: 10px 20px 20px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -200px;
  z-index: 10;
}
.cabinet_game_creation input[type="text"],
.cabinet_game_creation select {
  width: 350px;
  margin: 0 auto;
}
.cabinet_game_creation .btn {
  margin: 15px 55px 0 50px;
}
.game_select {
  cursor: pointer;
}
.game_select:hover {
  background-color: #FFD800;
}
.point_title {
  font-weight: bold;
}
.point_content {
  margin-left: 30px;
}
.point_row {
  font-size: 16px;
  font-weight: bold;
  height: 25px;
  padding: 2px;
  position: relative;
  width: 100%;
}
.claim_accept {
  background-image: url("/images/accept.png");
  cursor: pointer;
  height: 20px;
  left: 100px;
  position: absolute;
  top: 0;
  width: 20px;
}
#game_actions {
  margin-top: 20px;
}
